body{
    background-image:url("C:/Users/moham/OneDrive/Pictures/Screenshots/Screenshot 2024-05-18 170539.png");
    background-repeat:repeat-y;
    background-position:center;
    margin-top:200;
    background-size: cover;
    width:100%;
    height:100%;
}